<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome, <%= title %></p>
    <a href="/login">登陆</a>
    <a href="/home">主页</a>
  </body>
</html>
  