<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item" href="/users"><i class="user icon"></i>用户表</a>
    <a class="item" href="/goods"><i class="shop icon"></i>商品表</a>
  </div>
  <div class="pusher">
    <div class="ui basic segment" id="tableMain">
      <h3 class="ui header">Application Content</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>