<div>
  <form>
    <div class="field required">
      <label for="">username</label>
      <input type="text" name="username" placeholder="enter username">
    </div>
    <div class="field required">
      <label>password</label>
      <input type="password" name="password" placeholder="enter password" />
    </div>
    <input type="submit" name="login" value="login" />
  </form>
</div>