<table border="1">
  <tr>
    <th>用户名</th>
    <th>密码</th>
  </tr>
    <% users.forEach(function(user) { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
      </tr>
    <% }) %>
</table>